<h3>Create Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()" name="myForm" novalidate>
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required minlength="2" [(ngModel)]="employee.firstName"  name="firstName">
      <span style="color:red" ng-show="myForm.firstName.$touched && myForm.firstName.$invalid">First name is required and should be min 2 char.</span>
    </div>


    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required required minlength="2" [(ngModel)]="employee.lastName" name="lastName">
      <span style="color:red" ng-show="myForm.lastName.$touched && myForm.lastName.$invalid">Last name is required and should be min 2 char.</span>
    </div>

    <div class="form-group">
      <label for="name">Email Id</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="employee.emailId" name="emailId">
    </div>


    <div class="form-group">
      <label for="name">Salary</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="employee.salary" name="emailId">
      <span  style="color:red" ng-show="myForm.lastName.$touched && myForm.lastName.$invalid">Salary should be greater than 0</span>
    </div>

    <div class="form-group">
      <label for="name">Phone Number</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="employee.phoneNumber" name="emailId">
      <span  style="color:red" ng-show="myForm.lastName.$touched && myForm.lastName.$invalid">Phn Number should only conatin digits and dash</span>
    </div>



    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
