<h2>Employee Details</h2>

<hr/>
<div *ngIf="employee">
  <div>
    <label><b>First Name: </b></label> {{employee.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{employee.lastName}}
  </div>
  <div>
    <label><b>Email Id: </b></label> {{employee.emailId}}
  </div>
  <div>
    <label><b>Salary: </b></label> {{employee.salary}}
  </div>
  <div>
    <label><b>Phone Number: </b></label> {{employee.phoneNumber}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Employee List</button><br>


